<?xml version="1.0" encoding="UTF-8"?>



<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">
    </beans>
    <bean id="io" class="com.sg.booktracker.ui.UserIOConsoleImpl" />

    <bean id="dao" class="com.sg.booktracker.dao.BookDaoMemoryImpl" />
    
    <bean id="view" class="com.sg.booktracker.ui.BookView">
        <constructor-arg ref="io" />
    </bean>
    
    <bean id="service" class="com.sg.booktracker.service.BookService">
        <constructor-arg ref="dao" />
    </bean>

    <bean id="controller" class="com.sg.booktracker.controller.BookController">
        <constructor-arg ref="service" />
        <constructor-arg ref="view" />
    </bean>
</beans>

