<html xmlns:th="http://www.thymeleaf.org"
xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ToDos</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
</head>
<body>
    <div class="container">
        <div class="row m-4">
            <div class="col text-center border border-dark">
                <h1><a href="/" class="text-dark">Home</a></h1>
            </div>
        </div>
        <div class="row m-4 border border-dark">
            <div class="col text-center m-3">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>ToDo</th>
                            <th>Note</th>
                            <th>Finished</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="todo : ${todos}">
                            <td th:text="${todo.id}">ToDo ID</td>
                            <td th:text="${todo.todo}">ToDo ToDo</td>
                            <td th:text="${todo.note}">ToDo Note</td>
                            <td th:text="${todo.finished}">ToDo Finished</td>
                            <td><a href="editTodo" th:href="@{/editTodo/{id}(id=${todo.id})}" class="btn btn-outline-primary btn-lg">Edit</a></td>
                            <!--<td>Edit</td>-->
                            <td>Delete</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>